doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		link(href='/css/bootstrap.min.css', rel='stylesheet')
		link(href='/css/main.css', rel='stylesheet')
		link(rel="stylesheet", href="//cdn.jsdelivr.net/evil-icons/1.7.2/evil-icons.min.css")

		block css

		block title
				title Fikay

		body
			.container
				block content

				block footer
					script(src='/lib/jquery-2.1.3.min.js')
					script(src='/lib/bootstrap.min.js')
					script(src='/scripts/main.js')
					//script(src='/scripts/upload.js')
					//- p Fikay 2015
