.hidden {
	display: none;
}

/*--------upload page---------*/
#background {
    display: inline;
    background-repeat: none;
    -webkit-filter: blur(10px);
    position: fixed;
  	top: 0;
  	left: 0;
  	min-width: 100%;
  	min-height: 100%;
}

input[type="file"] {
    display: none;
}

input[type="text"] {
  	width: 200px;
    height: 25px;
    border-radius: 25px;
  	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

#upbutton, #submit {
    width: 150px;
    height: 35px;
    border-radius: 35px;
    color: white;
    display: block;
    margin: auto;
    position: relative;
/*
  	top: 10%;
  	transform: translateY(330%);
    border: none;
*/
}
#upbutton {
    background-color: #2f6bee;
}

#submit {
  	background-color: #21c462;
  	margin: 50px 10px 0;
}

#uptext {
    display: block;
    font-size: 20px;
    position: relative;
  	text-align: center;
  	top: 50%;
  	transform: translateY(-50%);
}

#preview {
  	margin: 20px 0 10px;
}

textarea {
  	display: block;
}


.icon {
    fill: white;
    display: inline;
}
/*.........end of upload page.........*/
