/*Potential Background Picture*/
/*body{
	background: url("https://download.unsplash.com/photo-1426443177319-df7c639993c8") no-repeat center center fixed;
	background-size: 100%;
}*/


/*Adam's CSS*/
.hidden {
	display: none;
}

body {
  background-color: white;
  color: #444444;
/*  font-family: Lato;*/
}
/*--------upload page---------*/
/*
#background {
    display: inline;
    background-repeat: none;
    -webkit-filter: blur(10px);
    position: fixed;
  	top: 0;
  	left: 0;
  	min-width: 100%;
  	min-height: 100%;
}
*/

#greyback {
  	background: rgba(0,0,0,0.05);
  	padding: 10px 25px 20px;
  	border-radius: 3px;
}


label{
    float: left;
    clear: left;
    width: 200px;
    text-align: left;
}


/*
hr {
  	box-sizing: content-box;
  	height: 0;
  	width: 300px;
}
*/


.hidden-input {
    display: none !important;
}

.text-input {
  	width: 200px;
    height: 25px;
    border-radius: 25px;
  	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border: solid 1px lightgrey;
  	margin-top: 8px;
  	padding: 6px;
  	display: inline;
  	font-weight: 200;
}

#designName {
	margin-left: 20px;
  	display: inline;
}

#mainImgLabel {
  	display: inline;
  	margin: 0 auto;
  	margin-bottom: 10px;
  	width: 150px;
  	height: 25px;
    border-radius: 25px;
    color: white;
}

#attach {
    width: 80px;
    height: 25px;
    border-radius: 25px;
    color: white;
    position: relative;
  	margin: 10px 5px 10px 10px;
  	font-size: 10px;
/*
  	top: 10%;
  	transform: translateY(330%);
    border: none;
*/
}

#preview1, #preview2, #preview3, #preview4, #preview5, #mainPreview {
  	width: 150px;
  	height: 150px;
  	margin: 5px;
/*  	-webkit-filter: blur(1.5px);*/
}

#attach, #mainImgLabel {
    background-color: #2f6bee;
  	display: inline;
}

#bin {
  	display: inline;
  	width: 35px;
    height: 25px;
    border-radius: 25px;
  	background-color: #e4333c;
  	margin-right: 20px;
  	font-weight: 300;
  	padding-bottom: 2px;
}

button, input[type="submit"] {
  	border: none;
}

.trashlogo {
  	color: white;
  	padding-top: 3.5px;
}


#submit {
  	background-color: #21c462;
  	margin: 20px 50px 30px 10px;
  	float: right;
  	width: 150px;
    height: 30px;
    border-radius: 30px;
    color: white;
    display: block;
    position: relative;
}

#uptext {
    display: block;
    font-weight: 300;
    position: relative;
  	text-align: center;
  	top: 50%;
  	transform: translateY(-50%);
}

#preview {
  	margin: 20px 0 10px;
  	display: inline;
  	border: 2px black;
}

textarea {
  	display: block;
  	width: 600px;
  	height: 100px;
  	border-radius: 5px;
  	border-color: lightgrey;
}


#description {

}

.icon {
    fill: white;
    display: inline;
}
/*.........end of upload page.........*/


/*-----------profile page-------------*/

.profilePic {
	border: solid 1px lightgrey;
  	border-radius: 4px;
  	margin-bottom: 10px;
}

.profileInfo {
/*  	margin-left: 10px;*/
}

.designs {
  	width: 400px;
  	height: 250;
}

.box {
	  border: 3.5px solid #e5e5e5;
/*	border: solid 15px;
	  -moz-border-image: -moz-linear-gradient(top left, #360033 20%, #0b8793 80%);
	  -webkit-border-image: -webkit-linear-gradient(top left, #360033 20%, #0b8793 80%);
	  border-image: linear-gradient(to bottom right, #360033 20%, #0b8793 80%);

	  border-image-slice: 1;
*/
  	max-width: 40%;
  	height: auto;
  	padding: 20px;
  	display: block;
  	margin: auto;
  	margin-bottom: 30px;
/*  	box-shadow: 0 15px 10px #b7b7b7;*/
  	background-color: white;
  	border-radius: 5px;
}

#email, #website {
  	display: inline-block;
  	width: 35px;
    height: 35px;
    border-radius: 50px;
    color: white;
    position: relative;
  	margin: 10px 5px 10px 10px;
  	padding-top: 11px;
  	text-decoration: none;
  	text-align: center;
}

#email {
  /*#5334ee*/
  	background-color: #5446d2;
}

#website {
 	 background-color: #f67673;
}

#twitter {
  	width: 35px;
    height: 35px;
    border-radius: 50px;
  	margin: 6.5px 5px 10px 10px;
}

#edit {
  	background-color: white;
  	width: 100%;
    height: 25px;
    border-bottom-left-radius: 25px;
  	border-top-left-radius: 25px;
  	padding: 20px;
}

.input-group-addon {
  	height: 25px;
    border-bottom-right-radius: 25px;
  	border-top-right-radius: 25px;
}

.profilePage {
  	background: url("/img/pencils.png") no-repeat center center fixed;
	background-size: 100%;
}

.myDesigns {
  	width: 70%;
  	height: 80%;

}
/*.........end of profile page.........*/


/*-----------admin page-------------*/

.designBox {
  	width: 375px;
	height: 250px;
  	border: 2px solid lightgrey;
  	margin: 20px;
}

.designThumbnail {
  	max-height: 100%;
  	max-width: 100%;
  	margin: auto;
  	display: inline-block;
}

.designThumbnail.active {
  	background-color: rbga(0,0,0, 0.3);
  	color: white;
}

.hoverName {
  	display: inline;
}


/*.........end of admin page.........*/
