extends ./layouts/default.jade
include ./mixins.jade

block content
	.row
		.col-md-12
			h3 Images Awaiting Approval
	if designs
		+homepageGallery(designs)


	//- if designs
		if auth
			if auth.admin
				each design in designs
					a(href='/'+design._id)
						img#imagesOnAdmin(src=design.mainImage.large.url)

append footer
