extends ./layouts/default.jade

block content
	.row
		.col-md-12
			h1 Designer Profiles
			br

			if designers
				ul
					each designer in designers
						li
							a(href="/profile/" + designer.username) #{designer.username}
