extends ./layouts/default.jade
include ./mixins.jade
block content
	.row
		.col-md-12
			h1 Home Page
			+homepageGallery

			if designs
				each design in designs
					a(href='/'+design._id)
						img(src=design.mainImage.medium.url)

append footer

