mixin attach
	label#attach
		form
			span#uptext attach
				input(id="myfile", type="file", onchange="loadImg(this)", accept="image/gif, image/jpeg, image/png")
	button#bin
		span.glyphicon.glyphicon-trash.trashlogo

mixin imgAndBin
	img#preview(src="#")
