mixin imgPreview
	each val in [1,2,3,4,5]
		img(src='/img/fikay-square.jpg', id='preview' + val)

mixin attach-doc
	each val in [1,2]
		input.uploadInput(name='additionalFile' + val, type='file')


mixin homepageGallery(designs)
	- var arraysOfThree = [];
	- var originalArray = designs;
	- var i = 0;
	- for (j=originalArray.length; i<j; i+=3) {
	- tempArray = originalArray.slice(i,i+3);
	- arraysOfThree.push(tempArray);
	- }

	each array in arraysOfThree
			.row.gallery-row
					each elem in array
						.col-md-4.gallery-col
							a(href='/' + elem._id)
								img.galleryImg.lazy(src=elem.mainImage.medium.url)


mixin designersList(designers)
	- var arraysOfThree = [];
	- var originalArray = designers;
	- var i = 0;
	- for (j=originalArray.length; i<j; i+=3) {
	- tempArray = originalArray.slice(i,i+3);
	- arraysOfThree.push(tempArray);
	- }

	each array in arraysOfThree
			.row
					each elem in array
						.col-md-4
							a(href='/' + elem.firstName)
								img.galleryImg(src=elem.profileImage.medium.url)
