mixin imgPreview
	each val in [1,2,3,4,5]
		img(src='/img/fikay-square.jpg', id='preview' + val)

mixin attach-doc
	each val in [1,2,]
		input(name='additionalFile' + val, type='file')

//- Repeat a block without writing inline JS
mixin times(limit)
	- for (var i = 1; i <= limit; i++) {
		block
	- }
