mixin imgPreview
	each val in [1,2,3,4,5]
		img(src='/img/fikay-square.jpg', id='preview' + val)

mixin attach-doc
	each val in [1,2,]
		input(name='additionalFile' + val, type='file')

//- Repeat a block without writing inline JS
mixin times(limit)
	- for (var i = 1; i <= limit; i++) {
		block
	- }

mixin homepageGallery
	- var arraysOfThree = [];
	- var originalArray = ['/img/700x400.gif', '/img/700x400.gif' , '/img/700x400.gif', '/img/700x400.gif','/img/700x400.gif', '/img/700x400.gif', '/img/700x400.gif', '/img/700x400.gif'];
	- var i = 0;
	- for (j=originalArray.length; i<j; i+=3) {
	- tempArray = originalArray.slice(i,i+3);
	- arraysOfThree.push(tempArray);
	- }

	each array in arraysOfThree
		container
			row
				col-md-8
					each elem in array
						img.lazy.homepageImages(src=elem)

