mixin attach
	label#attach
		span#uptext attach
		//- input(type="file", onchange="loadImg(this)", accept="image/gif, image/jpeg, image/png")
		input(type="file", name="files[]", onchange="loadImg(this)", multiple =" ", accept="image/gif, image/jpeg, image/png")
	button(data-action="cancel")#bin
		span.glyphicon.glyphicon-trash.trash

mixin imgAndBin
	img#preview(src="#")
