extends ./layouts/default.jade

block content
	.row
		.col-md-12
			h1 Sign Up

			p (Fields marked with * are required)

			form(action='/signup', method='POST')
				label#signup Email *
					input(type='text', name='email', required)
				br
				label#signup  First Name *
					input(type='text', name='firstName' required)
				br
				label#signup  Last Name *
					input(type='text', name='surname' required)
				br
				label#signup  Phone Number
					input(type='text', name='phoneNumber')
				br
				label#signup  Address
					p First Line
						input(type='text', name='address')
						br
					p Second Line
						input(type='text', name='address')
						br
					p Town
						input(type='text', name='address')
						br
					p City
						input(type='text', name='address')
						br
					p Postcode
						input(type='text', name='address')
				br
				label#signup  Bio
					textarea
				br
				label#signup  Links (Please separate any links you wish to post with commas)
					textarea
				label#signup  Are you an Administrator?
					p No
						input(type="radio", name="Admin" value="No" checked)
					p Yes
						input(type="radio", name="Admin" value="Yes")

	.row
		.col-xs-12.col-sm-12
			input#submit(type="submit", enctype="multipart/form-data", action="/signup", method="post")
