extends ./layouts/default.jade

block content
	.row
		.col-md-12
			h1 Sign In

			#fullBg
    		.container
        	form.form-signin
          	h1.form-signin-heading Please Login
          		p
          			input.form-control(type='text', name='username', placeholder='Email Address', required='', autofocus='')
          		p
          			input.form-control(type='password', name='password', placeholder='Password', required='')

        //-   button.btn.btn-lg.btn-primary.btn-block(type='submit') Log in
        //- |
        //- p.text-center.sign-up
        //-   strong Sign up
        //-   |  for a new account
