extends ./layouts/default.jade

block content
	.row
		.col-md-12
			h1 Sign Up

			form(action='/signup', method='POST')
				label Email
					input(type='text' required)
				br
				label First Name
					input(type='text' required)
				br
				label Last Name
					input(type='text' required)
				br
				label Phone Number
					input(type='text')
				br
				label Address
					p First Line
						input(type='text')
						br
					p Second Line
						input(type='text')
						br
					p Town
						input(type='text')
						br
					p City
						input(type='text')
						br
					p Post Code
						input(type='text')
				br
				label Bio
					textarea
				br
				label Links
					textarea
				label Are you an Administrator?
					p No
						input(type="radio", name="Admin" value="No" checked)
					p Yes
						input(type="radio", name="Admin" value="Yes")

	.row
		.col-xs-12.col-sm-12
			input#submit(type="submit", enctype="multipart/form-data", action="/signup", method="post")
