extends ./layouts/default.jade
include ./mixins.jade

block content
	.row
		.col-md-12
			h4 Part 1.
			p Please attach up to 6 images to be viewed in the gallery should your design be approved. Please also write a <b>short</b> paragraph about the design.

	#greyback
		.row
			.col-md-4
				form Design Name:
					input(type="text", placeholder="Insert your design name")
				form
					label#mainImgLabel
						span#uptext Attach Main Image
							input(name="designMainImage", id="mainImgInput", type="file", onchange="loadImg(this)", accept="image/gif, image/jpeg, image/png")
					button#bin
						span.glyphicon.glyphicon-trash.trashlogo

		.row
			.col-md-12
				img#mainPreview(src="#")

		.row
			.col-md-12
					+attach

		.row
			.col-md-12
				+imgPreview

		.row
			.col-md-12
				#description
					h4 Short Description:
					textarea
					hr

	.row
		.col-md-12
			h4 Part 2.
			p Please attach up to 2 additional documents, outlining any information Fikay should know for the production stage. This could be measurements, colour pallettes, instructions etc. (Information given in part 2 will only be viewed by the Fikay staff).

	#greyback
		.row
			.col-md-12
				+attach-doc
				+attach-doc

		.row
			.col-md-12
				#description
					h4 Any other information:
					textarea

	.row
		.col-xs-12.col-sm-12
			input#submit(type="submit", enctype="multipart/form-data", action="/{username}/upload", method="post")

	script(src="/scripts/upload.js")
