
{
	"database" : {
		"dbuser"	: "<mongo user name>",
		"dbpwd"		: "<mongo password>",
		"dburl"		: "<mongo db url>"
	},
	"github" : {
		"secret"	: "<arbitrary string>",
		"cKey"		: "<github auth client key>",
		"cSecret"	: "<github auth client secret>"
	},
	"twitter" : {
		"secret"	: "<arbitrary string>",
		"cKey"		: "<twitter auth client key>",
		"cSecret"	: "<twitter auth client secret>"
	},
	"stripe" : {
		"secret"	: "<stripe secret key>"
	},
	"cookieSecret"	: "<arbitrary string>"
}
