
{
	"database" : {
		"dbuser"	: "<mongo user name>",
		"dbpwd"		: "<mongo password>",
		"dburl"		: "<mongo db url>"
	},
	"s3" : {
		"key" 		: "<s3 user key>",
		"secret"	: "<s3 user secret key>",
		"bucket"	: "<s3 bucket name>",
		"acl"		: "public-read-write",
		"region"	: "<s3 region>"
	"google" : {
		"secret"	: "<arbitrary string>",
		"cKey"		: "<google auth client key>",
		"cSecret"	: "<google auth client secret>"
	},
	"cookieSecret"	: "<arbitrary string>"
}
