
{
	"database" : {
		"dbuser"	: "<mongo user name>",
		"dbpwd"		: "<mongo password>",
		"dburl"		: "<mongo db url>"
	},
	"google" : {
		"secret"	: "<arbitrary string>",
		"cKey"		: "<google auth client key>",
		"cSecret"	: "<google auth client secret>"
	},
	"stripe" : {
		"secret"	: "<stripe secret key>"
	},
	"cookieSecret"	: "<arbitrary string>"
}
